doctype html
html
    head
        meta(charset= 'utf-8')
        title menu for game
        link(rel= 'styleSheet', href= 'css/main.css')
    body
        .background
            button.button__train