doctype html
html
  head
    meta(charset= 'utf-8')
    title Menu for game
    link(rel= 'stylesheet', href= 'css/main.css')
  body
    .background
      button.button__train
      button.button__play
      button.button__attack
      button.button__attack2
      button.button__arrow
      button.button__arrow2
      button.button__frakcia
      img.img__progres_bar
      img.img__gold
      img.img__serebro
      button.button__friends
      button.button__profile
      button.button__magazine
      button.button__musick
      img.img__glavniy
      img.img__avatar1
      img.img__avatar2
      img.img__noty