.background
  background url("../../img/main-bg.jpg")
  width 807px
  height 730px


body, html
  margin 0

.button__train
  background url("../../img/button_trenirovka_off.png")
  width 228px
  height 102px
  margin 387px 0 0 295px
  border 0
  &:hover
    cursor pointer
    background url("../../img/button_trenirovka_on.png")

.button__play
  background url("../../img/button_igra_off.png")
  width 227px
  height 102px
  margin 331px 0 0 0
  border 0
  position absolute
  left 295px
  &:hover
    cursor: pointer
    background url("../../img/button_igra_on (1).png")

 .button__attack
   background url("../../img/button_attack_off.png")
   width 121px
   height 56px
   margin 294px 0 0 0
   border 0
   position absolute
   left 686px
   &:hover
     cursor: pointer
     background  url("../../img/button_attack_on.png")

 .button__attack2
   background url("../../img/button_attack2_off.png")
   width 121px
   height 56px
   margin 437px 0 0 0
   border 0
   position absolute
   left 686px
   &:hover 
     cursor: pointer
     background url("../../img/button_attack2_on.png")
     
 .button__arrow
   background url("../../img/button_arrow_off.png")
   width 36px
   height 28px
   margin 604px 0 0 0
   border 0
   position absolute
   left 736px
   &:hover 
     cursor: pointer
     background url("../../img/button_arrow_on.png")

 .button__arrow2
   background url("../../img/button_arrow2_off.png")
   width 36px
   height 28px
   margin 640px 0 0 0
   border 0
   position absolute
   left 736px
   &:hover
     cursor: pointer
     background url("../../img/button_arrow2_on.png")

 .button__frakcia
   background url("../../img/button_frakcia_off.png")
   width 145px
   height 123px
   margin 607px 0 0 0
   border 0
   position absolute
   left 57px
   &:hover
     cursor: pointer
     background url("../../img/button_frakcia_on.png")

 .img__progres_bar
   background url("../../img/progres_bar_red.png")
   width 789px
   height 68px
   margin 662px 0 0 0
   position absolute
   border 0
   left 7px

 .img__gold
   background url("../../img/zoloto.png")
   width 138px
   height 98px
   margin 595px 0 0 0
   position absolute
   border 0
   left 581px

 .img__serebro
   background url("../../img/serebro.png")
   width 240px
   height 87px
   margin 619px 0 0 0
   position absolute
   border: 0px
   left 392px

 .button__friends
   background url("../../img/button_friend_off.png")
   width 106px
   height 124px
   margin 476px 0 0 0
   position absolute
   border: 0
   left 693px
   &:hover 
     cursor: pointer
     background url("../../img/button_friend_on.png")

 .button__profile
   background url("../../img/button_profile_off.png")
   width 133px
   height 154px
   margin 139px 0 0 0
   position absolute
   border 0
   left 581px
   &:hover 
     cursor: pointer
     background url("../../img/button_profile_on.png")

 .button__magazine
   background url("../../img/button_magaz_off.png")
   width 244px
   height 236px
   margin 447px 0 0 0
   position absolute
   border 0
   left 478px
   &:hover
     cursor: pointer
     background url("../../img/button_magaz_on.png")

 .button__musick
   background url("../../img/button_musec_off1.png")
   width 91px
   height 103px
   margin 5px 0 0 0
   position absolute
   border 0
   left 22px
   &:hover
     cursor: pointer
     background url("../../img/button_musec_on1.png")
     
 .img__glavniy
   background url("../../img/glavniy.png")
   width 124px
   height 147px
   margin 26px 0 0 0
   position absolute
   border 0
   left 679px
   
 .img__avatar1
   background url("../../img/avatar1.png")
   width 104px
   height 124px
   margin 186px 0 0 0
   position absolute
   border 0
   left 694px

 .img__avatar2
   background url("../../img/avatar2.png")
   width 104px
   height 124px
   margin 333px 0 0 0
   position absolute
   border 0
   left 694px

 .img__noty
   background url("../../img/noti.png")
   width 62px
   height 35px
   margin 16px 0 0 0
   position absolute
   border 0
   left 101px
